*{
    margin:0;
    padding:0;
} 
html{
    scroll-padding-top: 5em;
}
header{
    display: flex;
    background-color: darkred;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
}

#oquesao{
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.caixa{
    box-shadow: 5px 10px 5px rgb(118, 30, 30);
    background-color: rgb(142, 80, 160);
    padding: 10px;
    width: auto;
    border-radius: 10px;
}

#tipos{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

#totipotentes{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#pluripotentes{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#multipotentes{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#oligopotentes{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#unipotentes{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#uso{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#uso2{
    margin-top: 20px;
}

#uso3{
    margin-top: 20px;
}

#referencias{
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-width: 100px;
    height: 30px;
    color: seashell;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 15px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

#inicio{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
    justify-content: center;
    background-image: linear-gradient(180deg, rgb(192, 54, 54), rgb(233, 153, 133) 50%, rgb(192, 54, 54));
    margin-top: 75px;
    color: seashell;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

#rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darkred;
    width: 100%;
    margin-top: 50px;
    height: 100px;
    bottom: 0;
    color: seashell;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 8px;
    align-items: center;
    border-radius: 10px;
}

#creditos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: darkred;
    width: 100%;
    height: 40px;
    bottom: 0;
    color: seashell;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 8px;
    align-items: center;
}

a:link {
    color: seashell;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: seashell;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: seashell;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: seashell;
    background-color: transparent;
    text-decoration: none;
  }

  #imagem-inicio{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  #imagem-inicio{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    box-shadow: 5px 10px 5px rgb(118, 30, 30);
    border-radius: 10px;
  }
.videos{
    max-height: 100%;
    max-width: 100%;
    width: 500px;
    height: 500px;
    background-color: rgb(142, 80, 160);
    padding: 50px;
    margin-top: 50px;
    box-shadow: 5px 10px 5px rgb(118, 30, 30);
    border-radius: 10px;
}
.posicaovideo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropbtn {
    background-color: darkred;
    color: seashell;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: darkred;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(142, 80, 160);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: seashell;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(107, 41, 126);}

  .show {display:block;}