header{
    display: flex;
    background-color: darkred;
    position: fixed;
    width: 100%;
    top: 0;
}

#menu{
    display: flex;
    justify-content: space-around;
    width: 100%;
    min-width: 100px;
    height: 35px;
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    align-items: center;
    padding: 20px;
}